/jhlib.o
/keccak.o
/main.o
/metis.o
/metiscoinMiner.o
/OpenCLObjects.o
/primecoinMiner.o
/protosharesMiner.o
/scrypt.o
/scryptMinerCPU.o
/sha2.o
/shavite.o
/ticker.o
/transaction.o
/xptClient.o
/xptClientPacketHandler.o
/xptPacketbuffer.o
/xptServer.o
/xptServerPacketHandler.o
